<fieldset data-hook="smspay">
  <legend align="center"><%= Spree.t(:transaction, :scope => :smspay) %></legend>
  
  <div class="row">
    <div class="alpha six columns">
      <dl>
        <dt><%= Spree.t(:reference, :scope => :smspay) %></dt>
        <dd><%= payment.response_code %></dd>
        <dt><%= Spree.t(:mobile_number, :scope => :smspay) %></dt>
        <dd><%= payment.source.mobile_number %></dd>
      </dl>
    </div>
  </div>
</fieldset>